@import "tailwindcss";

@theme {
  --color-background: #0D1110;
  --color-foreground: #FFFFFF;
  --color-primary: #34D399;
  /* emerald-400 */
  --color-primary-foreground: #022C22;
  --color-card: #131A17;
  --color-card-border: #1B2621;
}

@layer base {
  :root {
    --background: #0D1110;
    --foreground: #FFFFFF;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    min-height: 100vh;
  }
}

@layer utilities {
  .glass {
    @apply bg-card border border-card-border rounded-[20px];
  }
}